* {
  margin: 0;
  padding: 0;
}

.fullPage {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

ul {
  font-size: 3em;
  margin-left: calc(50vw - 5em);
  margin-top: calc(50vh - 2em);
  list-style-type: none;
}

label {
  font-size: 1em;
  display: block;
  font-family: sans-serif;
  text-align: center;
  width: 10em;
}

input {
  font-size: 1em;
  font-family: sans-serif;
  width: 10em;
  text-align: center;
}